<div aria-label="Settings" layout="column" layout-fill>
  <img class="cover" src="../../assets/images/background.jpg"></img>
  <nav-bar flex="initial" title="Account Settings"></nav-bar>
  <md-content layout="row" layout-align="center start" class="unselectable transparent-background">
    <div layout-column flex flex-gt-xs="60">
      <md-card aria-label="Details Card">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Details</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <form aria-label="Account Details Form" name="detailsForm" ng-submit="updateAccountDetails(detailsForm)" layout="column" novalidate>
            <md-input-container>
              <label>Name</label>
              <input aria-label="Name Input" name="name" ng-model="currentUser.name" required />
              <div aria-label="Name Errors" ng-messages="detailsForm.name.$error">
                <div aria-label="Name Required Error" ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Email</label>
              <input aria-label="Email Input" type="email" name="email" ng-model="currentUser.email" required server-error />
              <div aria-label="Email Errors" ng-messages="detailsForm.email.$error">
                <div aria-label="Email Required Error" ng-message="required">This is required.</div>
                <div aria-label="Email Format Error" ng-message="email">Please enter a valid email.</div>
                <div aria-label="Email Server Error" ng-message="server">{{ errors.email }}</div>
              </div>
            </md-input-container>
            <md-card-actions layout="row" layout-align="end end">
              <md-button aria-label="Update Details Button" class="md-primary md-raised" type="submit">Update Details</md-button>
            </md-card-actions>
          </form>
        </md-card-content>
      </md-card>
      <md-card aria-label="Password Card">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Change Password</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <form aria-label="Password Change Form" name="passwordForm" ng-submit="changePassword(passwordForm)" layout="column" novalidate>
            <md-input-container>
              <label>New Password</label>
              <input aria-label="Password Input" type="password" name="newPassword" ng-model="currentUser.newPassword" ng-minlength="8" server-error required/>
              <div ng-show="passwordForm.newPassword.$touched || passwordForm.$submitted" aria-label="Password Errors" ng-messages="passwordForm.newPassword.$error">
                <div aria-label="Password Length Error" ng-message="minlength">Password must be at least 8 characters.</div>
                <div aria-label="Password Server Error" ng-message="server">{{errors.message}}</div>
                <div aria-label="Password Required Error" ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>New Password (confirm)</label>
              <input aria-label="Password Confirmation" type="password" name="confirmPassword" ng-model="currentUser.confirmPassword" ng-pattern="currentUser.newPassword" server-error/>
              <div aria-label="Password Confirmation Errors" ng-messages="passwordForm.confirmPassword.$error">
                <div aria-label="Password Confirmation Server Error" ng-message="server">{{errors.message}}</div>
                <div aria-label="Password Confirmation Mismatch Error" ng-message="pattern">Password does not match.</div>
              </div>
            </md-input-container>
            <md-card-actions layout="row" layout-align="end end">
              <md-button aria-label="Password Change Button" class="md-primary md-raised" type="submit">Change Password</md-button>
            </md-card-actions>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>