<md-card-title>
  <md-card-title-text>
    <span class="md-headline">Password Reset</span>
  </md-card-title-text>
</md-card-title>
<md-card-content>
  <form aria-label="Password Change Form" name="form" ng-submit="control.user.postNewPassword(form,state.currentUser.newPassword)" layout="column" novalidate>
    <md-input-container>
      <label>New Password</label>
      <input aria-label="Password Input" type="password" name="newPassword" ng-model="state.currentUser.newPassword" ng-minlength="8" server-error required/>
      <div ng-show="form.newPassword.$touched || form.$submitted" aria-label="New password errors" ng-messages="form.newPassword.$error">
        <div aria-label="New password size error" ng-message="minlength">Password must be at least 8 characters.</div>
        <div aria-label="New password server error" ng-message="server">{{errors.message}}</div>
        <div aria-label="New password required error" ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Confirm New Password</label>
      <input aria-label="Password confirmation" type="password" name="confirmPassword" ng-model="state.currentUser.confirmPassword" ng-pattern="state.currentUser.newPassword" server-error/>
      <div aria-label="Password confirmation errors" ng-messages="form.confirmPassword.$error">
        <div aria-label="Password confirmation server error" ng-message="server">{{errors.message}}</div>
        <div aria-label="Password confirmation mismatch error" ng-message="pattern">Password does not match.</div>
      </div>
    </md-input-container>
    </div>
    <md-card-actions layout="row" layout-align="end end">
      <md-button aria-label="Submit password change" class="md-primary md-raised" type="submit">Reset Password</md-button>
    </md-card-actions>
  </form>
</md-card-content>